@media screen and (max-width:576px) {
    .introduction {
        display: inline-block;
        flex-direction: column-reverse;
    }

    .intro-text {
        text-align: center;
    }

    .intro-text span {
        font-size: 0.8em !important;
    }

    .intro-text button {
        margin: 0 auto;
        padding: 10px !important;
    }

    .intro-img {
        margin-bottom: 30px;
    }
}